body {
    background-color: #f2f2f2;
}
h1 {
    color: black;
}
p {
    color: black;
    font-size: 18pt;
}

label {
	color: black;
	font-size: 15pt;
}

option {
	color: black;
	font-size: 12pt;
}

a {
	cursor: pointer; // Pro FF
}